
params {
	bam = null
	vcf = null
	out_prefix = "PipeVar"
	hpo = null
	light = null
	ref_fa = null
	gnomad = "0.0001"
	rankscore = "0.50"
	gq = "20"
	ad = "15"
	mode = null
	type = "ont"
	help = false
	input_directory = null
	output_directory = launchDir
	gene = null
	note = null
	input_csv = null
	phen2gene_filter = 500
	genome = "hg38"
	target = null
}

if (params.light == 'yes') {
	process {
		withName:'PhenoSV'{
			ext.args='--model PhenoSV-light '
		}
	}
	process {
		withName:'multi_phenosv'{
			ext.args='--model PhenoSV-light '
		}
	}
}

if (params.type == 'ont') {
	process {
		withName:'nanocaller'{
			ext.args='--preset ont'
		}
	}
	process {
		withName:'multi_nanocaller'{
			ext.args='--preset ont'
		}
	}
	process {
		withName:'clair3'{
			ext.args='--platform="ont" --model_path="/opt/models/ont"'
		}
	}
	process {
                withName:'multi_clair3'{
                        ext.args='--platform="ont" --model_path="/opt/models/ont"'
                }
        }
	process {
		withName:'cuteSV'{
			ext.args='--max_cluster_bias_INS 100 --diff_ratio_merging_INS 0.3 --max_cluster_bias_DEL 100 --diff_ratio_merging_DEL 0.3'
		}
	}
	process {
		withName:'NanoRepeat'{
			ext.args='ont'
		}
	}
	process {
                withName:'multi_nanorepeat'{
                        ext.args='ont'
                }
        }
}


if (params.genome == 'grch38') {
        process {
                withName:'ExpansionHunter'{
                        ext.args='/EH_grch38/variant_catalog.json'
                }
        }
}

if (params.genome == 'hg38') {
        process {
                withName:'ExpansionHunter'{
                        ext.args='/hg38/variant_catalog.json'
                }
        }
}





if (params.type == 'pacbio' ) {
        process {
                withName:'nanocaller'{
			ext.args='--preset ccs'
        	}
	}
	process {
		withName:'multi_nanocaller'{
			ext.args='--preset ccs'
		}
	}
        process {
                withName:'clair3'{
			ext.args='--platform="ont" --model_path="/opt/models/hifi"'
        	}
	}
	process {
                withName:'multi_clair3'{
                        ext.args='--platform="ont" --model_path="/opt/models/hifi"'
                }
        }
        process {
                withName:'cuteSV'{
			ext.args='--max_cluster_bias_INS 1000 --diff_ratio_merging_INS 0.9 --max_cluster_bias_DEL 1000 --diff_ratio_merging_DEL	0.5'
        	}
	}
	process {
		withName:'NanoRepeat'{
			ext.args='hifi'
		}
	}
	process {
                withName:'multi_nanorepeat'{
                        ext.args='hifi'
                }
        }

}



process {
    executor = 'slurm'

    // Combine 'nanocaller' and 'multi_nanocaller'
    withName: 'nanocaller|multi_nanocaller' {
        cpus   = { 4 * task.attempt }
        memory = { 32.GB * task.attempt }
        time   = { 48.h }
        publishDir = [
            path: { "${params.output_directory}" }
        ]
    }

    withName: 'PhenoSV|multi_phenosv' {
        cpus   = { 2 * task.attempt }
        memory = { 16.GB * task.attempt }
        time   = { 48.h }
        publishDir = [
            path: { "${params.output_directory}" }
        ]

    }

    withName: 'ANNOVAR|multi_annovar' {
        cpus   = { 2 * task.attempt } // Note: You had 2 for multi_annovar, standardized to 8 here. Change if needed.
        memory = { 16.GB * task.attempt } // Note: You had 16.GB for multi, standardized here.
        time   = { 24.h }
        publishDir = [
            path: { "${params.output_directory}" },
            pattern: "*{txt}"
        ]
    }

    withName: 'Phen2gene|multi_phen2gene' {
        cpus   = { 2 * task.attempt }
        memory = { 16.GB * task.attempt } // Standardized to 16GB (multi was 16, single was 8)
        time   = { 24.h }
        publishDir = [
            path: { "${params.output_directory}" }
        ]
    }

    withName: 'clair3|multi_clair3' {
        cpus   = { 4 * task.attempt }
        memory = { 32.GB * task.attempt }
        time   = { 72.h }
        publishDir = [
            path: { "${params.output_directory}" }
        ]

    }
    withName: 'NanoRepeat|multi_nanorepeat' {
        cpus   = { 4 * task.attempt }
        memory = { 32.GB * task.attempt }
        time   = { 72.h }
        publishDir = [
            path: { "${params.output_directory}" }
        ]
    }

    withName: 'RankVar|multi_rankvar' {
        cpus   = { 4 * task.attempt }
        memory = { 32.GB * task.attempt }
        publishDir = [
            path: { "${params.output_directory}" }
        ]
    }

    withName: 'sniffles|multi_sniffles' {
        cpus   = { 4 * task.attempt }
        memory = { 32.GB * task.attempt }
        publishDir = [
            path: { "${params.output_directory}" }
        ]

    }

    withName: 'SURVIVOR|multi_survivor' {
        cpus   = { 2 * task.attempt }
        memory = { 8.GB * task.attempt }
        publishDir = [
            path: { "${params.output_directory}" }
        ]
    }

    withName: 'truvari' {
        cpus   = { 2 * task.attempt }
        memory = { 8.GB * task.attempt }
        publishDir = [
            path: { "${params.output_directory}" }
        ]
    }

    withName: 'cuteSV' {
        cpus   = { 4 * task.attempt }
        memory = { 32.GB * task.attempt }
        publishDir = [
            path: { "${params.output_directory}" }
        ]
    }

    withName: 'Manta|multi_manta' {
        cpus   = { 4 * task.attempt }
        memory = { 32.GB * task.attempt }
        publishDir = [
            path: { "${params.output_directory}" }
        ]
    }

    withName: 'haplotypecaller|multi_haplotypecaller' {
        cpus   = { 4 * task.attempt }
        memory = { 32.GB * task.attempt }
        time   = { 48.h }
        publishDir = [
            path: { "${params.output_directory}" }
        ]
    }

    withName: 'deepvariant|multi_deepvariant' {
        cpus   = { 4 * task.attempt }
        memory = { 32.GB * task.attempt }
        time   = { 72.h }
        publishDir = [
            path: { "${params.output_directory}" }
        ]
    }

    withName: 'ANNOVAR_SV|multi_annovar_sv' {
        cpus   = { 1 * task.attempt }
        memory = { 8.GB * task.attempt }
        publishDir = [
            path: { "${params.output_directory}" }
        ]
    }

    withName: 'ExpansionHunter|multi_expansionhunter' {
        cpus   = { 4 * task.attempt }
        memory = { 32.GB * task.attempt }
        publishDir = [
            path: { "${params.output_directory}" }
        ]
    }

    withName: 'longphase|multi_longphase|multi_snp_prio' {
        cpus   = { 4 * task.attempt }
        memory = { 64.GB * task.attempt }
        publishDir = [
            path: { "${params.output_directory}" }
        ]
    }

    withName: 'eh_filter|multi_eh_filter' {
        cpus   = { 1 * task.attempt }
        memory = { 8.GB * task.attempt }
        publishDir = [
            path: { "${params.output_directory}" }
        ]
    }

    withName: 'Rankscore_analysis|multi_rankscore' {
        cpus   = { 4 * task.attempt }
        memory = { 32.GB * task.attempt }
        publishDir = [
            path: { "${params.output_directory}" }
        ]
    }

    withName: 'phenotagger|multi_phenotagger' {
        cpus   = { 2 * task.attempt }
        memory = { 16.GB * task.attempt }
        publishDir = [
            path: { "${params.output_directory}" }
        ]
    }
}


singularity {
	enabled = true
	autoMounts = true
	runOptions = '--bind /mnt/isilon/wang_lab/beounglee/projects/pipeline/test_nextflow/annovar:/annovar,/mnt/isilon/wang_lab/beounglee/projects/pipeline/test_nextflow/train_data:/PhenoSV/train_data'

}

report {
	enabled=true
}

trace {
	enabled=true
}




