
params {
	bam = null
	vcf = null
	out_prefix = "PipeVar"
	hpo = null
	light = null
	ref_fa = null
	gnomad = "0.0001"
	gq = "20"
	ad = "15"
	mode = null
	type = "ont"
	help = false
	input_directory = null
	output_directory = launchDir
	gene = null
	note = null
}

if (params.light == 'yes') {
	process {
		withName:'PhenoSV'{
			ext.args='--model PhenoSV-light '
		}
	}
}

if (params.type == 'ont') {
	process {
		withName:'nanocaller'{
			ext.args='--preset ont'
		}
	}
	process {
		withName:'clair3'{
			ext.args='--platform="ont" --model_path="/opt/models/ont"'
		}
	}
	process {
		withName:'cuteSV'{
			ext.args='--max_cluster_bias_INS 100 --diff_ratio_merging_INS 0.3 --max_cluster_bias_DEL 100 --diff_ratio_merging_DEL 0.3'
		}
	}
	process {
		withName:'NanoRepeat'{
			ext.args='ont'
		}
	}
}

if (params.type == 'pacbio' ) {
        process {
                withName:'nanocaller'{
			ext.args='--preset ccs'
        	}
	}
        process {
                withName:'clair3'{
			ext.args='--platform="ont" --model_path="/opt/models/hifi"'
        	}
	}
        process {
                withName:'cuteSV'{
			ext.args='--max_cluster_bias_INS 1000 --diff_ratio_merging_INS 0.9 --max_cluster_bias_DEL 1000 --diff_ratio_merging_DEL	0.5'
        	}
	}
	process {
		withName:'NanoRepeat'{
			ext.args='hifi'
		}
	}
}



process {
	executor ='slurm'
	withName:'nanocaller'{
		cpus = { 4 * task.attempt }
		memory = { 64.GB * task.attempt }
		time = {48.h}
	}
	withName:'PhenoSV'{
		cpus = { 2 * task.attempt }
                memory = { 16.GB * task.attempt }
		time = {48.h}
	}
	withName:'ANNOVAR'{
		cpus = { 8 * task.attempt }
		memory = { 64.GB * task.attempt }
		time = {24.h}
	}
	withName:'clair3'{
		cpus = { 4 * task.attempt }
		memory = { 32.GB * task.attempt }
		time = { 72.h}
	}
	withName:'NanoRepeat'{
		cpus = {4 * task.attempt }
		memory = {32.GB * task. attempt }
		time = {72.h}
	}
	withName:'Phen2gene'{
		cpus = {2 * task.attempt }
		memory = {8.GB * task.attempt }
	}
	withName:'RankVar'{
		cpus = {8 * task.attempt }
		memory = {128.GB * task.attempt }
	}
	withName:'sniffles'{
		cpus= {4 * task.attempt }
		memory = {32.GB * task.attempt }
	}
	withName:'SURVIVOR'{
		cpus= {2 * task.attempt }
		memory = {8.GB * task.attempt }
	}
	withName:'truvari'{
		cpus= {2 * task.attempt }
		memory = {8.GB * task.attempt }
	}
	withName:'cuteSV'{
		cpus={4 * task.attempt }
		memory = {32.GB * task.attempt }
	}
	withName:'Manta'{
		cpus={4 * task.attempt }
		memory={64.GB * task.attempt }
	}
	withName:'haplotypecaller'{
		cpus={4 * task.attempt }
		memory={64.GB * task.attempt }
		time={24.h}
	}
	withName:'deepvariant'{
		cpus={8 * task.attempt }
		memory={128.GB * task.attempt }
		time={72.h}
	}
	withName:'ANNOVAR_SV'{
		cpus={1 * task.attempt }
		memory={8.GB * task.attempt }
	}
	withName:'ExpansionHunter'{
		cpus={4 * task.attempt }
		memory={64.GB * task.attempt }
	}
}



singularity {
	enabled = true
	autoMounts = true
	runOptions = '--bind ANNOVAR_PLACEHOLDER,PHENOSV_PLACEHOLDER'

}

report {
	enabled=true
}

trace {
	enabled=true
}




