profiles {
    longphase_stub {
        process.executor = 'local'
        docker.enabled = false
        singularity.enabled = false

        process {
            withName: 'LONGPHASE_CALL|LONGPHASE_PRIORITIZE' {
                cpus = 1
                memory = 256.MB
                time = 5.m
            }

            withName: 'LONGPHASE_CALL' {
                ext.args = {
                    def type = params.type ? params.type.toString().trim().toLowerCase() : 'ont'
                    type == 'ont' ? '--ont' : type == 'pacbio' ? '--pb' : ''
                }
            }
        }

        report.enabled = false
        trace.enabled = false
    }
}
